= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name
  = f.text_area :description
  = f.text_field :percentage_complete
  = f.submit 'Save', :class => "button"
  = link_to 'Back', tasks_path, :class => "button"
